@font-face {
	font-family: 'Exo 2';
	font-display:swap;
	src: url('../fonts/Exo2-Regular.eot');
	src: local('Exo 2 Regular'), local('Exo-Regular'),
	url('../fonts/Exo2-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Exo2-Regular.woff') format('woff'),
	url('../fonts/Exo2-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Exo 2 Bold';
	font-display:swap;
	src: url('../fonts/Exo2-Bold.eot');
	src: local('Exo 2 Bold'), local('Exo-Bold'),
	url('../fonts/Exo2-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Exo2-Bold.woff') format('woff'),
	url('../fonts/Exo2-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Agane';
	font-display:swap;
	src: url('../fonts/Agane.eot');
	src: local('Agane'), local('Agane'),
	url('../fonts/Agane.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Agane.woff') format('woff'),
	url('../fonts/Agane.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: 'Exo 2', 'sans-serif';
	color: #26211C;
	margin: 0;
}
a {
	color: #4D4337;
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}

/*
Header
*/
.header_nav__wrap {
	display: flex;
	justify-content: space-between;
	padding: 76px 40px 0 40px;
	max-width: 1590px;
	margin: auto;
	position: relative;
}
.header_nav__logo {
	position: absolute;
	left: 40px;
	transform: translateY(-17px);
	flex-shrink: 0;
}
.header_nav__logo_link {
	display: flex;
	align-items: center;
	color: #F47E0B;
}
.header_nav__logo_img {
	padding-right: 10px;
}
.header_nav {
	display: flex;
	max-width: 921px;
	width: 100%;
	margin: 0 auto;
	justify-content: space-between;
	border-bottom: 1px solid #EBE6E1;
	padding-bottom: 21px;
}
.header_nav a {
	transition:.3s;
}
.header_nav a:hover {
	color: #F47E0B;
}

.header_nav__list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}
.header_nav__list_item {
	padding-right: 74px;
}

.header_nav__addictive {
	display: flex;
}
.header_nav__login {
	padding-right: 62px;
}
.header_nav__login_sep {
	width: 1.5px;
	background: #4D4337;
	height: 14px;
	position: relative;
	display: inline-block;
	bottom: -2px;
	margin: 0 12px;
}
.header_nav__lang_link {
	padding-right: 5px;
}
.header_nav__lang {
	position: relative;
	flex-shrink: 0;
	display: flex;
}
.header_nav__lang_select {
	cursor: pointer;
	transition: .3s;
}
.header_nav__lang_select_active {
    transform: rotate(180deg);
}
.header_nav__dropdown {
	position: absolute;
	bottom: -120%;
	display: none;
}
.header_nav__dropdown_active {
	display: block;
}

/*
Header END
*/

/*
Mobile menu
*/

.header_nav__menu_mob {
	position: absolute;
	top: 78px;
	left: -100%;
	width: 100%;
	background: #fff;
	z-index: 1;
	display: flex;
	justify-content: center;
	transition: 0.3s;
	    flex-direction: column;
    align-items: center;
}
.header_nav__menu_mob_active {
	left: 0;
}
.header_nav__menu_mob_list {
	padding: 0;
	text-align: center;
	list-style-type: none;
}
.header_nav__menu_mob_link {
	display: inline-block;
	padding: 10px 15px;
	transition: .3s;
}
.header_nav__menu_mob_link:hover {
	color: #F47E0B;
}
.header_nav__menu_mob_lang {
    margin-bottom: 15px;
}
.header_nav__menu_mob_lang_link {
    margin: 0 5px;
}

/*
Mobile menu END
*/

/*
Hamburger
*/

.header-hamburger {
	width: 30px;
	height: 30px;
	display: none;
	-webkit-transition: all .35s;
	transition: all .35s;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	z-index: 3;
	margin-left: 15px;
	flex-shrink: 0;
}
.header-hamburger_line {
	width: 100%;
	height: 2px;
	display: block;
	position: absolute;
	left: 0;
	background: #73695E;
	border-radius: 10px;
	-webkit-transition: all .35s;
	transition: all .35s;
	pointer-events: none;
}
.header-hamburger_line_1 {
	top: 4px;
}
.header-hamburger_line_2 {
	top: 14px;
}
.header-hamburger_line_3 {
	top: 24px;
}
.header-hamburger__active .header-hamburger_line_1 {
	transform: rotate(45deg);
	top: 14px;
}
.header-hamburger__active .header-hamburger_line_2 {
	opacity: 0;
}
.header-hamburger__active .header-hamburger_line_3 {
	transform: rotate(-45deg);
	top: 14px;
}

/*
Hamburger END
*/

/*
Content
*/
.content.page__content_wrap {
	padding-top: 121px;
	position: relative;
	max-width: 1920px;
	margin: 0 auto;
}
.page__heading {
	text-align: center;
	font-weight: 300;
	margin-bottom: 72px;
	font-size: 44px;
}
.page__heading span {
	position: relative;
}
.page__heading span:after {
	content: '';
	position: absolute;
	width: 70px;
	height: 70px;
	border-radius: 100%;
	background: #FFF7DA;
	left: -29px;
	top: -6px;
	z-index: -1;
}
.page__subheading {
	text-align: center;
	font-weight: 300;
	font-size: 34px;
	margin-bottom: 56px;
}
.page__content {
	max-width: 930px;
	margin: auto;
	flex-grow: 1;
	width: 100%;
}
.entry_content {
	display: flex;
}

/*
Content END
*/

/*
Section
*/
.section {
	margin-bottom: 31px;
}
.section__content {
	font-family: Agane;
}
.section__title {
	margin-bottom: 7px;
	margin-top: 0;
	font-size: 20px;
}
.section__paragraph {
	line-height: 33px;
	margin-top: 0;
	margin-bottom: 31px;
}
.section__paragraph_nm {
	margin-bottom: 0;
}
.section__link {
	color: #FFAD63;
	margin: 36px 0;
	display: block;
	font-size: 14px;
}
.section__list {
	padding-left: 18px;
}
.section__list_decimal {
	list-style-type: decimal;
}
.section__list_dashed .section__list_item {
	list-style-type: none;
	position: relative;
}
.section__list_dashed .section__list_item:before {
	content: '-';
	position: absolute;
	left: -12px;
	top: 0px;
}
.section__list_item {
	line-height: 33px;
}
.section__dropdown {
	display: none;
	transition: .3s;
}
.section__dropdown_active {
	transform: rotate(180deg);
}
/*
Section END
*/

/*
Exchange
*/
.section__exchange {
	position: relative;
	display: flex;
	justify-content: center;
}
.exchange__paying {
	max-width: 190px;
	width: 100%;
}
.exchange__title {
	font-size: 20px;
	letter-spacing: -1px;
	margin-bottom: 23px;
	display: flex;
	justify-content: space-between;
}
.exchange__paying_input {
	background: url(../images/usd.svg) no-repeat scroll right center;
	border: none;
	font-size: 25px;
	font-family: 'Exo 2';
	font-weight: 600;
	width: 100%;
	padding-bottom: 2px;
	border-bottom: 1px solid #AE9C88;
	margin-bottom: 10px;
}
.exchange__paying_input:focus,
.exchange__purchasing_input:focus {
	outline: none;
	border-color: #e77512;
}
.exchange__paying_currency {
	position: relative;
	font-size: 20px;
	font-family: 'Exo 2';
}
.exchange__paying_currency:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 20%;
	height: 100%;
	line-height: 45px;
	background-color: rgba(255, 255, 255, 0.1);
	pointer-events: none;
	background-color: #fff;
	background-image: url(../images/arrow.svg);
	background-repeat: no-repeat;
	background-position: center center;
}
.exchange__paying_currency:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 20%;
	height: 100%;
	line-height: 45px;
	/* color: rgba(255, 255, 255, 0.5); */
	background-color: rgba(255, 255, 255, 0.1);
	pointer-events: none;
	background-color: #fff;
	background-image: url(../images/arrow.svg);
	background-repeat: no-repeat;
	background-position: center center;
}
.exchange__paying_select,
.exchange__purchasing_select {
	width: 100%;
	border: none;
	font-size: 20px;
	font-family: 'Exo 2';
	background: #fff;
}
.exchange__paying_select:focus {
	outline: none;
}

.exchange__purchasing {
	max-width: 190px;
}
.exchange__load {
	margin: auto 35px 24px;
}
.exchange__purchasing_input {
	background: url(../images/bitc.svg) no-repeat scroll right center;
	border: none;
	font-size: 25px;
	font-family: 'Exo 2';
	font-weight: 600;
	width: 100%;
	padding-bottom: 2px;
	border-bottom: 1px solid #AE9C88;
	margin-bottom: 10px;
}
.exchange__button {
	margin: 28px auto;
	border: navajowhite;
	background: #e77512;
	border-radius: 23px;
	color: #fff;
	font-family: 'Exo 2';
	padding: 12px 30px;
	font-size: 18px;
	cursor: pointer;
	transition:.3s;
}
.exchange__button:hover {
	background: #ec862e;
}
.exchange__button_wrap {
	display: flex;
}
.exchange__button:focus {
	outline: none;
}


/*
Exchange END
*/

/*
Crypto
*/
.crypto__wrap {
	position: absolute;
	top: 29px;
	right: 166px;
	z-index: 1;
}
.crypto {
	font-family: 'Exo 2', 'sans-serif';
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 30px;
	border-radius: 20px;
	background: #FAFAFA;
	width: 157px;
	margin-bottom: 21px;
	transition: .3s;
	margin-left: auto;
}
.crypto__title {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	margin-bottom: 21px;
}
.crypto__value_currency {
	margin-bottom: 10px;
	max-width: 108px;
	display: flex;
	justify-content: space-between;
}
.crypto__value {
	margin-bottom: 17px;
}
.crypto__value_icon {
	padding-left: 8px;
}
.crypto__chart {
	transition:.3s;
}
.crypto__chart:hover {
	color:#F47E0B;
}
.crypto__chart .crypto__chart_icon {
	padding-right: 8px;
	display: inline;
}
/*img.crypto_alpha {
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    }*/


/*
Crypto END
*/

/*
Sidebar left
*/

.sidebar__left {
	max-width: 390px;
	position: relative;
	padding-right: 30px;
	flex-grow: 1;
}
.nav.page__nav {
	list-style-type: none;
	margin: 0;
}
.nav__item {
	line-height: 40px;
}
.nav__chapter {
	display: block;
}
.nav__link {
	color: #F47E0B;
}
.nav__link:hover {
	text-decoration: underline;
}
.sidebar_alpha {
	position: absolute;
	left: 0px;
	top: 0px;
	opacity: .4;
	z-index: -1;
	display: none;
}

/*
Sidebar Left END
*/

/*
Sidebar Right
*/
.sidebar__right {
	max-width: 390px;
	position: relative;
	flex-grow: 1;
	width: 100%;
}
/*
Sidebar Right END
*/

/*
Modal
*/

.modal {
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.3s;
    animation-name: fadeIn;
    animation-duration: 0.3s;
    display: none;
    justify-content: center;
        padding: 0 15px;
    box-sizing: border-box;
}
.modal.modal__active {
    display: flex;
}
.modal__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 0;
}
.modal__inner {
    display: flex;
    width: 100%;
    max-width: 560px;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: #fff;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
        z-index: 1;
}
.modal__content_wrap {
    padding: 52px 20px 32px;
}
.modal__title {
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 42px;
}
.modal__title_icon {
    margin-left: 38px;
}
.modal__content {
    display: flex;
    width: 100%;
    margin-bottom: 33px;
}
.modal__qr {
    margin-right: 23px;
}
.modal__buttons {
    display: flex;
    flex-direction: column;
}
.modal__button {
    padding: 11px 30px;
    background: #F47E0B;
    border-radius: 20px;
    margin-bottom: 21px;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    transition:.3s;
}
.modal__button:hover {
	background: #ec862e;
}
.modal__footer {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.modal__code {
    display: flex;
    align-items: center;
}
.modal__code_icon {
    margin-left: 14px;
    cursor: pointer;
}
.modal__close {
    margin-top: 10px;
    display: inline-block;
    border-radius: 20px;
    border: 1px solid #F47E0B;
    padding: 12px 30px;
    font-size: 16px;
    line-height: 16px;
    color: #F47E0B;
    margin: 30px auto 0;
    transition:.3s;
}
.modal__close:hover {
    background: #F47E0B;
    color: #fff;
}
.modal__alpha {
    position: absolute;
    top: 53px;
    opacity: 0.4;
}
@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

/*
Modal END
*/

/*
Media queries
*/
@media (max-width: 1700px) {
	.crypto__wrap {
		right: 40px;
	}
	.sidebar__right {
		max-width: 310px;
	}
}
@media (max-width: 1350px) {
	.header_nav__logo {
		position: initial;
		transform: translateY(-17px);
		height: 0px;
		padding-right: 25px;
	}
}
@media (max-width: 1100px) {
	.header_nav__list_item {
		padding-right: 50px;
	}
}
@media (max-width: 992px) {
	.header_nav__list {
		display: none;
	}
	.crypto__wrap {
		position: relative;
		right: 0;
		top: 0;
		max-width: calc(100vw - 30px);
	}
	.crypto__inner {
		background: #FAFAFA;
		border-radius: 20px;
		padding: 30px;
		max-width: 217px;
		margin: auto;
	}
	.slick-slide .crypto__value_icon {
		display: inline;
	}
	.crypto {
		margin: 0;
		background: transparent;
		/*max-width: 217px;
		box-sizing: border-box;*/
	}
	.sidebar__left {
		display: none;
	}
	.sidebar__right {
		display: none;
	}
	.content.page__content_wrap {
		padding-left: 15px;
		padding-right: 15px;
	}
	.header-hamburger {
		display: block;
	}
}
@media (max-width: 768px) {
	.section__content {
		display: none;
	}
	.section__content_active {
		display: block;
	}
	.section__dropdown {
		display: flex;
		margin-right: 10px;
	}
	.section__title {
		display: flex;
		align-items: center;
	}
}
@media (max-width: 576px) {
	.header_nav__logo_link span {
		display: none;
	}
	.page__heading {
		font-size: 28px;
		line-height: 34px;
		margin-bottom: 50px;
	}
	.page__subheading {
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 30px;
	}
	.content.page__content_wrap {
		padding-top: 71px;
	}
	.header_nav__lang {
		display: none;
	}
	.header_nav__wrap {
		padding: 15px 15px 10px;
		border-bottom: 1px solid #EBE6E1;
		align-items: center;
	}
	.header_nav {
		padding: 0;
		border: none;
		position: relative;
		justify-content: center;
	}
	.header_nav__login {
		padding: 0;
	}
	.header_nav__logo {
		transform: none;
		height: auto;
		padding: 0;
	}
	.page__heading span:after {
		width: 45px;
		height: 45px;
		left: -19px;
		top: -3px;
	}
	.section__exchange {
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
	}
	.exchange__load {
		margin-top: 24px;
	}

}
@media (max-width: 400px) {
.modal__code {
    font-size: 12px;
}
.modal__title_icon {
    margin-left: auto;
}
.modal__title {
    font-size: 19px;
}
}
@media (min-width: 576px) and (max-width:992px) {
	.header_nav__addictive {
		margin-left: auto;
	}
	.header_nav__menu_mob {
		top: 117px;
	}
}
@media (min-width: 992px) {
	.crypto:hover {
		padding-right: 72px;
	}
}
/*
Media queries END
*/